.form {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.input,
.select,
.textarea,
.select {
	height: 35px;
	border: none;
	background: #ffffff;
	border-radius: 5px;
	margin-top: 15px;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.input {
	width: 96.46%;
	padding-left: 8px;
}

.textarea {
	resize: none;
	width: 96.46%;
	height: 70px;
	padding-left: 8px;
	padding-top: 7px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	border-radius: 5px;
	margin-top: 15px;
	outline: none;
}

.button {
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 17px;
	width: 102px;
	height: 29px;
	text-align: center;
}

.add {
	color: #5e6c84;
}

.add:hover {
	background-color: #ffffff;
	box-shadow: 2px 2px 15px rgba(122, 122, 122, 0.5);
}

.button:disabled {
	background-color: #ebecf0;
	box-shadow: none;
	cursor: default;
}

.plus_icon {
	padding-right: 3px;
}

.submit {
	background-color: #0079bf;
	color: #ffffff;
}

.submit:hover {
	box-shadow: 2px 2px 15px rgba(122, 122, 122, 0.5);
	background-color: #0067a3;
}

.select {
	width: 100%;
	cursor: pointer;	
	/* display: none; */
    list-style: none;
    margin: 0;
    background-color: #fff;
    /* padding: 7px;
    margin-bottom: 15px; */
    font-size: 18px;
    border-radius: 5px;
}



.selectBlock {
	/* display: flex; */
	/* flex-direction: column; */
	position: relative;
}

